@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="jumbotron jumbotron-fluid my-5 h-75 bg-gradient rounded-3">
  <div class="container text-center">
    <img src="img/nhlstendencafe-wit.svg" alt="nhlstendencafe" class="mt-2">
    <h1 class="mt-4 fw-light">De <span class="fw-bold text-decoration-underline">beste</span> bestelervaring voor obers.</h1>
    <div class="row justify-content-center mt-4 w-25 mx-auto">
      <div class="col-6">
        <a href="/login" class="btn btn-primary w-100">Inloggen</a>
      </div>
      <div class="col-6">
        <a href="/register" class="btn btn-outline-light w-100">Registreren</a>
      </div>
    </div>
    <img src="img/cafe-min.jpg" alt="cafe" class="rounded img-fluid pt-2">
  </div>
</header>

