@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="jumbotron jumbotron-fluid my-5 h-75 bg-gradient rounded-3">
  <div class="container text-center">
    <img src="img/nhlstendencafe-wit.svg" alt="nhlstendencafe" class="mt-2">
    <h1 class="mt-4 fw-light">De <span class="fw-bold text-decoration-underline">beste</span> bestelervaring voor obers.</h1>
   
    <img src="img/cafe-min.jpg" alt="cafe" class="rounded img-fluid pt-2">
  </div>
</header>

