@page
@model Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<div>
    Hier registereren graag. 
    Al een account? ->
</div>
</body>
</html>