@page
@using nlstendencafe.Pages.Categories
@model Create

<div class="row">
    <div class="col">
        <h1>Categorie aanmaken</h1>
        <form method="POST">
            <input type="hidden" name="returnUrl" asp-for="returnUrl" value="@Model.Request.Headers.Referer"/>
            <div class="form-group w-25">
                <label asp-for="Category.Name">Naam</label>
                <input asp-for="Category.Name" class="form-control"/>
                <span asp-validation-for="Category.Name" class="text-dark"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Maak categorie</button>
                <button asp-page-handler="Cancel" class="btn btn-outline-secondary">Annuleer</button>
            </div>
        </form>
    </div>
</div>