@page "{categoryId:int}/{category}"
@model nhlstendencafe.Pages.Categories.Delete

<div class="row">
    <div class="col">
        @if (Model.CategoryHasProducts)
        {
            <h1 class="text-danger">Deze categorie heeft nog producten.</h1>
            <h2>Wil je de categorie en producten verwijderen?</h2>
        }
        else
        {
            <h1>Wil je écht geen @(Model.Category) meer aanbieden?</h1>
        }
        
        <form method="POST" class="my-4">
            <button asp-page-handler="Delete" class="btn btn-danger">
                Verwijder
            </button>
            <button asp-page-handler="Cancel" class="btn btn-outline-secondary">
                Annuleren
            </button>
        </form>        
    </div>
</div>
