@model IEnumerable<dynamic>

<div class="col-md-6">
    <h2>Bestelling</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Hoeveelheid</th>
            <th>Bewerken</th>
        </tr>
        </thead>
        <tbody id="orderItems">
        <!-- Hier worden de bestelde items weergegeven -->
        </tbody>
    </table>
</div>